html {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}
.App {
    background-color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
}
#display {
    display: flex;
    width: 100%;
    max-width: 600px;
    font-size: 28px;
    justify-content: flex-end;
    margin: 5px 0px;
}
.Buttons {
    display: grid;
    max-width: 600px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.Button {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #333;
    line-height: 110px;
    font-size: 28px;
    text-align: center;
    margin: 1rem;
    cursor: pointer;
    user-select: none;
}
.Button:active,
.Button:focus {
    filter: brightness(120%);
}
.Button[type="operator"] { 
    background-color: orange;
}
.Button[type="function"] {
    background-color: #f3f3f3;
    color: black;
}
#zero {
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 65px;
    width: 260px;
}
